html,body{
margin:0;
padding:0;
}


header {
  width: 100%;
  height: 150px;
  padding: 20px 0 0 200px;
  background-image: url(./img/logo.png);
  background-repeat: no-repeat;
  background-size: 210px;
  transition: all 0.3s ease;
}

header:hover {
  background-size: 170px;
}



/* Estilos para el menú */
.menu {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* esto hará que los elementos se justifiquen horizontalmente */
  }
  
  /* Estilos para la lista */
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  /* Estilos para los elementos de la lista */
  .menu li {
    display: inline-block;
    margin-right: 20px;
  }
  
  /* Estilos para los enlaces */
  .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    transition: font-size 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  /* Estilos para los enlaces al pasar el cursor */
  .menu a:hover {
    color: #f1c40f;
    background-color: #555;
    font-size: 30px;
  }
  


.error{
color:red;
}
#titulo_juego{
border-bottom:2px solid #00cc00;
}
#contact-main{
padding:32px;
}

#contact-main h2{
font-family:sans-serif;
text-shadow: 2px 2px #ff0000;/*x e y*/
color:#ffffff;
-webkit-text-stroke: 1px #000000
}

#contact-main form p{
display:flex;
}
#contact-main form label{
width:160px;
}

#contact-main form p:nth-child/*Pseudoselector*/(odd){
background-color:#ff0000;
}

#game-page header{
background-color:red;
}

#character_list{
display:flex;
padding:0;
margin:0;
list-style:none;
}

#character_list button{
border-radius:16px;
border-bottom-left-radius:0;
border-bottom-right-radius:0;
border:0;
}

#character_data{
background-color:#ccc;
}

